
:root {
    --bs-body-bg-rgb: 255, 255, 255; /* Color blanco */
    --bs-primary-rgb: 0, 123, 255;  /* Color azul */
    --bd-accent-rgb: 220, 53, 69;   /* Color rojo */
    --bd-violet-rgb: 108, 92, 231;  /* Color violeta */
    --bd-pink-rgb: 255, 99, 132;    /* Color rosado */
}

.bg-custom-gradient {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
    radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}

.background {
    background-image: url('Fotos/pablo.jpeg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}

.background-park{
    background-image: url('Fotos/mural.jpg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}

.background-abd{
    background-image: url('Fotos/vsite-dibujo.jpeg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}

.background-empuje{
    background-image: url('Fotos/empuje-dibujo.jpeg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}

.background-tiron{
    background-image: url('Fotos/muscleup.jpeg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}

.background-pino{
    background-image: url('Fotos/pino.jpg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}




.background-ej {
    background-image: url('Fotos/pablo.jpeg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: white; /* Color del texto */
}